{% extends 'html/base.html' %}

{% block title %}

    Acceuil

{% endblock%}

	{% load static %}
{% block style %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}


{% block contend %}
<div class="banniere">

    <div class="titre">
        <span><strong>PYRAMIDE</strong> SERVICES</span>
        <p> FROID – CLIMATISATION</p>
        <nav>Electricité Générale – Bâtiment – Plomberie industrielle
        Installation – Maintenance  - Vente</nav>
    </div>

 </div>



    <div class="centre">

        <nav>
            La politique générale de <strong>PYRAMIDE SERVICES</strong> est basée sur un élément fondamental et essentiel : Le Respect de la Clientèle et la Qualité du Travail.
        </nav>

        <nav>
       La société <strong>PYRAMIDE SERVICE SARL </strong> apporte une importance capitale à son personnel et personnes expérimentées qui aiment son équipe.
        </nav>

        <div class="cas1">
        <div class="img-responsive"></div>
            <div class="cas1-1">
         <p>
                La politique « Respect clientèle et Qualité » fait partie intégrante de notre Entreprise.<strong>PYRAMIDE</strong> SERVICES S’est fixée pour objectif de satisfaire en priorité les exigences des clients conformément au standard et aux normes de qualité. Mais également des autres parties intéressées (financiers – actionnaires – partenaires commerciaux – fournisseurs).
                Notre politique Qualité est une promesse d’équilibre entre les intérêts de différentes parties. 
                Nos clients, entre les mains desquelles se trouve notre entreprise par la confiance mutuelle, sont considérés comme des partenaires privilégiés.
                Le chiffre d’affaires de l’entreprise est assuré en grande partie par les contrats à moyen ou à long terme. La satisfaction de nos clients est priorité pour <strong>PYRAMIDE</strong> SERVICES. Pour garantir dans la durée et la satisfaction clientèle
         </p>
            </div>

            <span>
                POLITIQUE GENERALE 
            </span>

        </div>


     <div class="cas2">
        <div class="img-responsive2"></div>
            <div class="cas2-2">
        <p>
            Notre entreprise est une structure au régime normal dont la Rigueur, le Dynamisme, le Respect de la clientèle, de ses engagements et la Compétence demeurent nos atouts pour une compétitivité plus accrue, pour le bonheur de nos partenaires – clients.<br><br>
            La société <strong>PYRAMIDE</strong> SERVICES est composée par trois entités:<br>
            
        <ul>
                <li>Direction Générale ;</li>
                <li>Direction Technique ;</li>
                <li>Direction de l’Administration et des Finances.</li>
        </ul>
        </p>
        
            </div>

            <span>
                ORGANISATION DE L’ENTREPRISE
            </span>

     </div>
      
    
     <div class="cas3">
        <div class="img-responsive3"></div>
        <div class="cas3-3">
     <p>
        La société <strong>PYRAMIDE</strong> SERVICES dispose en sein une équipe de professionnels qualifiés et expérimentés ayant une parfaite maitrise de l’environnement et du métier. Toute cette équipe travaille dans un cadre convivial dans le respect réciproque.
     </p>
        </div>

        <span>
            RESSOURCES HUMAINES
        </span>

     </div>



     <div class="cas4">
        <div class="img-responsive4"></div>
        <div class="cas4-4">
         <p>
             Matériels et équipements en Bâtiments – Génie Civil et électricité générale

             <ul>
                <li>Bétonnière</li>
                <li>Vibreur,</li>
                <li>Compacteur manuel,</li>
                <li>Moto pompe,</li>
                <li>Lot de petit outillage (pelles, pioche, baromètre, seaux de maçon…)</li>

                 <li>Appareils de mesure électriques</li>
                 <li>Equipement de protection individuelle,</li>
                 <li>Trousse médicale.</li>
             </ul>
                <p>Matériels et équipements en Climatisation – Froid</p>
             <ul>
                <li>Caisse à outils</li>
                <li>Equipement de protection individuelle</li>
                <li>Trousse médicale</li>
             </ul>
         </p>
        </div>

        <span>
            MOYENS TECHNIQUES 
        </span>

     </div>
     <div class="equipe-parent">
        <div class="equipe">
            <p>Equipe Equipe</p> 
        </div>

        <div class="equipe1">
        
        </div>

        <div class="equipe2">
            
        </div>

        <div class="equipe3">
            
        </div>
     </div>
     
    </div>
        
</div>
{% endblock %}
