{% extends 'html/base.html' %}

{% block title %}

    Activités

{% endblock %}

	{% load static %}
{% block style %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/activite.css' %}">
{% endblock %}


{% block contend %}



<div class="banniere">

    <div class="titre">
        <span><strong>PYRAMIDE</strong> SERVICES</span>
        <p> FROID – CLIMATISATION</p>
        <nav>Electricité Générale – Bâtiment – Plomberie industrielle
        Installation – Maintenance  - Vente</nav>
</div>

</div>


<div class="centre">
<nav>
    L’Entreprise <strong>PYRAMIDE SERVICES</strong>est structurée en quatre (04) entités en fonction des différentes activités :
</nav>

<nav>
    pour plus d'information visitez nos activités ci-dessous
</nav>

    <div class="cas1">
    <div class="img-responsive1"></div>
        <div class="cas1-1">
            <p>
                
            <ul>

               <li>Génie Civil – Bâtiment (carrelage, peinture, aménagement intérieur et extérieur)…,</li>
                <li>Electricité – Plomberie</li>
                    
            </ul>
            </p>			
        </div>
                   <span>
                    BATIMENT ET GENIE CIVIL
                  </span>
        </div>



    <div class="cas2">
        <div class="img-responsive2"></div>
        <div class="cas2-2">
            <p>
                
            <ul>
                <li>Climatisation industrielle</li>
                <li>Filtration d’air</li>
                <li>Humidification / déshumidification d’air</li>
                <li>Climatisation automobile</li>
                <li>Froid industriel (chambre froide).</li>
            </ul>
            </p>			
        </div>
                   <span>
                    FROID-CLIMATISATION
                  </span>
        </div>

        <div class="activité">
    
            <a href="{% url 'electricite' %}"><h5 class="h5-1">Electricité Générale </h5></a>
            <a  href="{% url 'batiments' %}"><h5 class="h5-2">batiment</h5></a>
            <a  href="{% url 'plombiers' %}"><h5 class="h5-3">Plomberie industrielle-Installation</h5></a>
            <a  href="{% url 'maintenances' %}"><h5 class="h5-4">Maintenance</h5></a>
            <a  href="{% url 'ventes' %}"><h5 class="h5-5">Vente</h5></a>
        </div>
</div>
</div>

{% endblock %}
