{% extends 'html/base.html' %}

{% block title %}

    Contact

{% endblock%}

	{% load static %}
{% block style %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/batiment.css' %}">
{% endblock %}

{% block contend %}
	<div class="banniere">

			<div class="titre">
				<span><strong>PYRAMIDE</strong> SERVICES</span>
				<p> FROID – CLIMATISATION</p>
				<nav>Electricité Générale – <strong>Bâtiment</strong> – Plomberie industrielle
				Installation – Maintenance  - Vente</nav>
            </div>
		</div>


        <div class="centre">
            <div class="design"></div>
            <div class="img-centre"></div>
            <div>Notre société PYRAMIDE-SERVICES, uest spécialisée dans le construction de bâtiment.

				Quel que soit votre projet, notre équipe de professionnels met ses compétences et son savoir-faire à votre service.
				
				Nous vous proposons aussi une assistance technique à votre écoute tout au long de la réalisation de votre cĥantier, et nous disposons de mouens conséquents pour assurer tout types d'intervention.
				
				De la construction à la rénovation de bâtiments, nous pouvons intervenir rapidement et vous proposer un devis adapté à vos besoins.
				
				Nous vous proposons de vous présenter plus amplement nos activités lors d'un rendez-vous à votre convenance.</div>
		</div>
		
			

	</div>

{% endblock %}