{% extends 'html/base.html' %}

{% block title %}

    Contact

{% endblock%}

    {% load static %}
{% block style %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/electricite.css' %}">
{% endblock %}

{% block contend %}
<div class="banniere">

    <div class="titre">
        <span><strong>PYRAMIDE</strong> SERVICES</span>
        <p> FROID – CLIMATISATION</p>
        <nav><strong>Electricité Générale</strong> – Bâtiment – Plomberie industrielle
        Installation – Maintenance  - Vente</nav>
    </div>
</div>


<div class="centre">
    <div class="design"></div>
    <div class="img-centre"></div>
    <div>

        La société <span>PYRAMIDE</span> SERVICES,vous propose ses services en électricité générale et en installation, rénovation / mise aux normes de vos dispositifs électriques. (tableau électrique, éclairage, contrôle d’accès, chauffage, motorisation etc.).

Nos électriciens assurent également toutes vos demandes de dépannage en urgence ou non.
Nous intervenons depuis plus de 13 ans afin de satisfaire les professionnels, les particuliers, les syndics de copropriétés et les collectivités.
Nous vous accompagnons dans tous vos projets électriques. En effet, si vous souhaitez faire des travaux en électricité dans votre habitation, votre commerce ou votre copropriété, il vous suffit de nous contacter afin d’obtenir des conseils de la part de nos électriciens et recevoir un devis gratuit.<br>
N’hésitez pas à nous <a href="contact.html"><span>contacter</span></a> afin d’obtenir un devis gratuit.
    </div>
</div>

    

</div>

{% endblock %}