{% extends 'html/base.html' %}

{% block title %}

    Acceuil

{% endblock%}

	{% load static %}
{% block style %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/maintenance.css' %}">
{% endblock %}


{% block contend %}

            <div class="banniere">

            <div class="titre">
                <span><strong>PYRAMIDE</strong> SERVICES</span>
                <p> FROID – CLIMATISATION</p>
                <nav>Electricité Générale – Bâtiment – Plomberie industrielle
                Installation – <strong>Maintenance</strong> - Vente</nav>
            </div>
        </div>


        <div class="centre">
            <div class="design"></div>
            <div class="img-centre"></div>
            <div>Notre pôle Maintenance assure un service a domicile 24h/24 en plomberie.Nous pourrons intervenir en urgence dans un délai de 30 à 45 minutes suivant votre appel ou sur rendez-vous, à votre convenance, dnas toute la capitale d'Abidjan. Nous nous déplaçons gratuitement afin de vous établir un dévis détaillé</div>
        </div>
        

    </div>


{% endblock %}
