{% extends 'html/base.html' %}

{% block title %}

    Contact

{% endblock%}

    {% load static %}
{% block style %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/plombier.css' %}">
{% endblock %}

{% block contend %}
    
<div class="banniere">

            <div class="titre">
                <span><strong>PYRAMIDE</strong> SERVICES</span>
                <p> FROID – CLIMATISATION</p>
                <nav>Electricité Générale – Bâtiment – <strong>Plomberie industrielle
                Installation</strong> – Maintenance  - Vente</nav>
            </div>
        </div>


        <div class="centre">
            <div class="design"></div>
            <div class="img-centre"></div>
            <div>Notre entreprise réalise des études et les travaux associés, des dépannages, et assure la maintenance d’installations dans le domaine de la tuyauterie industrielle, de la plomberie sanitaire, du chauffage et du génie climatique depuis 50 ans.

                Elle possède une solide expérience de réalisation d’installations très variées, réseaux de distribution de fluides liquides et gazeux, plomberie sanitaire, chaufferies de petite et grande puissance, ventilation de confort et industrielle, chauffage climatisation à détente direct réversible, réseaux fonte enterrés.
                
                Elle opère auprès de clients industriels, d’établissements de santé, de collectivités, de ministères, de groupes hôteliers et de la grande distribution.
                
                Elle est basée à Vénissieux depuis toujours.</div>
        </div>
        
            

    </div>


{% endblock %}