{% extends 'html/base.html' %}

{% block title %}

    Contact

{% endblock%}

    {% load static %}
{% block style %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/plombier.css' %}">
{% endblock %}

{% block contend %}
    
    <div class="banniere">

            <div class="titre">
                <span><strong>PYRAMIDE</strong> SERVICES</span>
                <p> FROID – CLIMATISATION</p>
                <nav>Electricité Générale – Bâtiment – <strong>Plomberie industrielle
                Installation</strong> – Maintenance  - Vente</nav>
            </div>
        </div>


        <div class="centre">
            <div class="design"></div>
            <div class="img-centre"></div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed architecto vitae incidunt quod dolores vero, recusandae, praesentium commodi repellendus ipsa, eaque excepturi odio hic ex? Facere saepe non adipisci Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae laboriosam corrupti laudantium quam nostrum qui fuga. Assumenda tenetur hic ad excepturi commodi nemo, illo, in, sapiente dolor dolorum libero non! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem eum doloribus exercitationem saepe suscipit magni earum quibusdam officia accusantium dolor, amet omnis ipsam, minima et ratione ut esse placeat veritatis.Nostrum, id odit. Ipsum molestiae exercitationem sed sit facilis tempore ullam nobis. Nulla similique autem obcaecati, culpa in dolorum quasi maiores consectetur quia dicta sit repellat, officia voluptatibus laborum molestiae.</div>
        </div>
        
            

    </div>



{% endblock %}