{% extends 'html/base.html' %}

{% block title %}

    Acceuil

{% endblock%}

	{% load static %}
{% block style %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/vente.css' %}">
{% endblock %}


{% block contend %}
<div class="banniere">

    <div class=  "titre">
        <span><strong>PYRAMIDE</strong> SERVICES</span>
        <p> FROID – CLIMATISATION</p>
        <nav>Electricité Générale – Bâtiment – Plomberie industrielle
        Installation – Maintenance - <strong>Vente</strong> </nav>
    </div>
</div>


<div class="centre">
    <div class="design"></div>
    <div class="img-centre"></div>
    <div>
        Notre Entreprise est spécialisée dans la vente de fournitures de bureau, de matériels informatiques et de mobilier de bureau. 
            
        Société spécialisée dans la vente de produits pour le bureau, notre raison d'être est de faciliter le quotidien des entreprises et particuliers en proposant une large sélection de produits en adéquation avec leurs besoins. 
    </div>
    
    
    <div class="design2"></div>
    <div class="img-centre2"></div>
    <div>
        <span>PYRAMIDE</span> SERVICES est une entreprise spécialisée dans la location, l’achat, la vente de voitures & divers et également dans la vente de pièces de rechange . L’entreprise vous apporte des solutions sur mesure pour répondre à toutes vos problématiques de location de véhicules et de transport de marchandises en Côte d’Ivoire. 
    </div>
</div>


</div>
{% endblock %}
